{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description"
              content="{{ description|default:'Default prototype description' }}">
        <meta name="keywords" content="{{ keywords|default:'prototype' }}">
        <title>{% block title %}Rapid Prototypes{% endblock %}</title>

        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        {% endcompress %}
    </head>
    <body id="{% block body-id %}body{% endblock %}">
        {% block top-nav-wrapper %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class ="navbar-header">
                    <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                        <span class"sr-only">Toggle navigation</span>
                        <span class"icon-bar"></span>
                        <span class"icon-bar"></span>
                        <span class"icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Rapid Prototypes</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if slug == 'index' %}class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if slug == 'pricing' %}class="active"{% endif %}>
                            <a href="{% url 'page' 'pricing' %}">Pricing</a>
                        </li>
                        <li {% if slug == 'contact' %}class="active"{% endif %}>
                            <a href="{% url 'page' 'contact' %}">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if slug == 'login' %}class="active"{% endif %}>
                            <a href="{% url 'page' 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% compress js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endcompress %}
    </body>
</html>
