<div class="container">
    <div class="row">
        <form class="form-signup col-md-6 col-md-offset-3" role="form">
            <h2 class="form-signin-heading">Login to your account</h2>
            <div class="form-group">
                <input type="email" class="form-control"
                       placeholder="Email address" required=""
                       autofocus="" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="password" class="form-control"
                       placeholder="Password" required="" autocomplete="off">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"
                        type="submit">Login
                </button>
            </div>
        </form>
    </div>
</div>
